Django==3.0.4
django-cors-headers==3.2.0
django-extra-fields==2.0.1
django-filter==2.2.0
django-rest-auth==0.9.5
django-schema-graph==1.2.0
djangorestframework==3.10.3
flake8==3.8.1
flake8-builtins==1.5.3
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
flake8-quotes==3.2.0
gunicorn==20.0.4
python-dateutil==2.8.1
